@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,500;0,600;1,500&family=Titillium+Web:wght@600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
:root {
  --titillium: 'Titillium Web', sans-serif;
  --source_serif: 'Source Serif 4', serif;
}
.container-lc{
  position: relative;
  /* text-align: center; */
  width: 100%;
}
.container-lc img{
  filter:brightness(50%);
  width: 100%;
}
.flex-container{
  position: absolute;
  top: 1.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top-left{
  display: block;
  margin-left: 1rem;

}
.top-left img{
  width: auto;
  height: 40px;
  display: block;
  filter: contrast(150%);
}
.top-right{
  margin: 0 auto;
  margin-right: 1.1rem;
  display: flex;
  gap: 1rem;
}
.top-right a {
  text-decoration: none;
  color: #067FD0;
  padding: 4px 8px;
  background: white;
  border: 1px solid white;
  border-radius: 12px;
  font-size: 15px;
}
.near-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.near2 {
  font-size: 2.0rem;
  white-space: nowrap;
  font-weight: 700;
}
.search-now{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  /* left: 1rem; */
  justify-content: center;
}

.search-now .input-field{
  padding: 0.7rem;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #ffffff4d;
  outline: none;
  font-size: 16px;
}
@keyframes inputOutline {
  0% {
    outline: #067FD0 solid 1px;
  }
  100% {
    outline: #067FD0 solid 4px;
  }
}
.search-now .input-field:focus{
  animation: inputOutline 100ms ease-in-out;
  outline: #067FD0 solid 4px;
  border-radius: 5px;
}
.search-now .btn-field{
  padding: 0.7rem;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #067FD0;
  outline: none;
  font-size: 16px;
  background-color: #067FD0;
  color: white;
}
.search-now .btn-field:focus{
  animation: inputOutline 100ms ease-in-out;
  outline: #067FD0 solid 4px;
  border-radius: 5px;
}
.about-us {
  text-align: center;
  padding: 2rem;
  background-color: #fefefe;
  width: 100%;
}
.about-us a {
  box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 0.6rem 1.2rem;
  border: 1px solid #067FD0;
  text-decoration: none;
  background: #067FD0;
  border-radius: 1.2rem;
  color: #fefefe;
}
.about-us a:hover {
  background-color: #067FD0e7;
}
.knowledge {
  width: 100%;
  background-color: #efefef;
  padding: 1rem;
  font-family: var(--source_serif);
}
.original-head{
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;
}
.why-head{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: var(--source_serif);
  font-weight: 600;
}
.why-img{
  width: 100%;
  align-items: center;
}
.why-content{
  text-align: center;
  font-family: var(--source_serif);
}


@media screen and (max-width: 800px) {
  .top-right a {
    font-size: 14px;
  }
  .near-center {
    font-size: 1.2rem;
  }
  .near2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  .near-center {
    background-color: rgba(0, 0, 0, 0.0);
  }
  .search-now{
    top: 80%;
  }
  .search-now .btn-field{
    padding: 0.5rem;
    font-size: 12px;
  }
  .search-now .input-field{
    padding: 0.5rem;
    font-size: 12px;
  }
  .top-right a {
    font-size: 12px;
  }
  .near-center {
    font-size: 1rem;
  }
  .near2 {
    font-size: 1.6rem;
  }
}